<!-- first.ejs -->
<div id="main" class="container-fluid">
  <table>
    <tr>
      <td class="text-right">
        <h1>let's go out!</h1>
        <p>find out what's going on in your area</p>
      </td>
      <td class="text-center">
        <a href="/index" id="search-start" type="button">
          <i class="fa fa-chevron-right fa-5x"></i>
        </a>
      </td>
    </tr>
  </table>
</div>