<!-- index.ejs -->
<div id="header">
  <h1 class="text-center">let's go out!</h1>
  <p class="text-center">where do you wanna go?</p>
</div>

<div id="search-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <!--
          <span class="input-group-addon input-lg" style="background-color: white; border-width: 0px;">
            <i class="fa fa-map-marker fa-1x"></i>
          </span>
          -->
          <input id="search" type="text" name="location" class="form-control input-lg" placeholder="Where are you?">
          
          <span class="input-group-btn">
            <button id="search-btn" class="btn btn-default input-lg" type="button">Go!</button>
          </span>

        </div>
      </div>
  </div>

  <div>
    <span  id="search-results"></span>
  </div>

  </div>
</div>

<script src="/js/index.js"></script>