<!-- views/signin.handlebars -->
<div class="container">
  <h1 class="text-center">Log in or Sign Up!</h1>
  
  <button type="button" class="btn btn-default btn-lg btn-block" id="login-btn">Login! <span class="caret"></span></button>
  <div class="container hidden" id="login-form">
    <form role="form" action="/login" method="post">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Log in</button>
      </form>
  </div>
  <button type="button" class="btn btn-default btn-lg btn-block" id="register-btn">Register <span class="caret"></span></button>
  <div class="container hidden" id="reg-form">
    <form role="form" action="/user" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Register</button>
    </form>
  </div>
</div>

<script>

  $("#register-btn").on("click",function(){
      $("#register-btn").addClass("active");
      $("#login-btn").removeClass("active");
      $("#login-form").addClass("hidden");
      $("#reg-form").removeClass("hidden");
      $("#reg-form").addClass("show");
  });
  
  $("#login-btn").on("click",function(){
      $("#login-btn").addClass("active");
      $("#register-btn").removeClass("active");
      $("#reg-form").addClass("hidden");
      $("#login-form").removeClass("hidden");
      $("#login-form").addClass("show");
  });
  
</script>
